<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <% if current_user.uname == @user.uname %>
          <%= button_to 'Update Info', edit_user_registration_path(current_user), method: :get, class: 'btn btn-info' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <h3 class="media-heading">Personal Info:</h4>
    <div class="row">
      <h4 class="col-md-2"><strong>User Name: </strong></h5>
      <h4 class="col-md-2"><%= "#{@user.uname}" %></h4>
    </div>
    <div class="row">
      <h4 class="col-md-2"><strong>Email: </strong></h5>
      <h4 class="col-md-2"><%= "#{@user.email}" %></h4>
    </div>
    <div class="row">
      <h4 class="col-md-2"><strong>Member Since: </strong></h5>
      <h4 class="col-md-2"><%= @user.created_at.strftime("%b %d, %Y") %></h4>
    </div>
  </div>
</div>
